@charset "UTF-8";
.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
}

.btn-outline-success {
  --bs-btn-color: black;
  --bs-btn-hover-bg: #5599ff;
  --bs-btn-border-color: #5599ff;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #0c0d16;
  background-color: white;
  margin-top: 50px;
}
#footer p {
  margin: 0;
}
#footer div {
  display: flex;
  align-items: center;
}
#footer a {
  margin: 0 10px; /* Ajusta el margen entre los íconos*/
  text-decoration: none;
}
#footer img {
  width: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1c2b;
  color: white;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
#principal .card-body {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  background: linear-gradient(#5599ff, #1a1c2b);
  overflow: hidden;
}
#principal h1 {
  font-family: "Bebas Neue", sans-serif;
}
#principal h2 {
  animation: moveText 5s linear infinite;
}

#section-contacto {
  padding: 50px;
}
#section-contacto .boton-contacto {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#section-contacto .boton-contacto button {
  background-color: white;
  color: black;
}
#section-contacto .boton-contacto button:hover {
  background-color: #5599ff;
  color: black;
}

.fotos-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin: 10px;
}
.fotos-home .foto {
  width: 100%;
}
.fotos-home .foto img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .fotos-home {
    grid-template-columns: 1fr;
  }
}

#publicidad {
  background: radial-gradient(#0c0d16, #5599ff, #1a1c2b);
  color: white;
}
#publicidad .contenido-publicidad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
#publicidad .contenido-publicidad img {
  width: 50px;
}
#publicidad .contenido-publicidad h2 {
  padding: 10px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #0c0d16;
  background-color: white;
  margin-top: 50px;
}
#footer p {
  margin: 0;
}
#footer div {
  display: flex;
  align-items: center;
}
#footer a {
  margin: 0 10px; /* Ajusta el margen entre los íconos*/
  text-decoration: none;
}
#footer img {
  width: 25px;
}

.impresion-titulo {
  margin: 50px;
}
.impresion-titulo h5 {
  text-align: center;
}

.creativo h2 {
  text-align: center;
  padding: 50px;
}

.card-group .card img {
  width: 100px;
  height: auto;
  margin: auto;
}
.card-group .card {
  margin: 10px;
}
.card-group #check .card-group {
  background-color: #1a1c2b;
  color: white;
}
.card-group #check .card-group .card {
  background-color: #1a1c2b;
  color: white;
}

.video {
  text-align: center;
  margin-top: 20px; /* Espaciado superior*/
}

.principal-impresora {
  margin: 50px;
}
.principal-impresora h5 {
  text-align: center;
}

.conta-cto {
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.3s ease;
}
.conta-cto:hover {
  transform: scale(1.1);
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-text {
  text-align: justify;
}

.card-body {
  text-align: justify;
}

a {
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
}

h5 {
  font-family: "Bebas Neue", sans-serif;
}

p {
  font-family: "Arimo", sans-serif;
}

.funko-tex {
  font-family: "Arimo", sans-serif;
}

.mate-tex {
  font-family: "Arimo", sans-serif;
}

.figura-tex {
  font-family: "Arimo", sans-serif;
}

.impreso-filamento {
  font-family: "Arimo", sans-serif;
}

.impreso-resina {
  font-family: "Arimo", sans-serif;
}/*# sourceMappingURL=main.css.map */